.post-body {
    width: 100%;
    max-width: 900px;
    height: 93vh;
    margin: 0 auto;
    align-items: center;
    background-color: #fff;
}

.post-body form {
    border: solid 1px #333;
    background-color: #fff;
}

.panel-creator {
    background-color: #fff;
    margin: 30px;
    margin-top: 0;
    max-width: 840px;
    padding: 20px;
    border: solid 2px #d3d3d5;
    width: 100%;
    margin-top: 30px;
}

.panel-creator h1 {
    margin-bottom: 25px;
}

.panel-creator span {
    margin-top: 25px;
}

.panel-creator input {
    margin-bottom: 10px;
}