.panel {
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
}

.panel-heading {
    color: #fff;
    background-color: #333;;
    font-weight: 700;
    padding: 10px 15px;
    margin-top: 20px;
}

.panel-body {
    padding: 15px;
    border: 2px solid #d3d3d5;
}

.label-span {
    color: #a9a9a9;
    font-weight: 900;
}

.date-time {
    float: right;
}

.label-text {
    margin-top: 10px;
}

.f-right {
    float: right;
}

.input-modal {
    margin-bottom: 15px;
}

.icon-close {
    float: right;
    cursor: pointer;
}

.icon-header {
    float: right;
    margin-left: 12px;
    font-size: 17px;
    cursor: pointer;
}