.ll-modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 100;
}

.ll-modal.is-active {
  display: flex;
}

.ll-modal-background {
  background-color: rgba(10,10,10,.5);
  position: absolute;
}

.ll-modal-background, .ll-modal{
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.ll-modal-container {
  max-height: 95%;
  z-index: 110;
  margin: 0 auto;
  position: relative;
  border-radius: 4px;
}

.ll-modal-header {
  background-color: #FFF;
    color: black;
    font-size: 21px;
    padding: 20px;
    font-weight: 700;
}

.ll-modal-content {
  background-color: whitesmoke;
}

.ll-modal-content {
  overflow: auto;
    position: relative;
    color: black;
    padding: 20px;
}