.modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 100;
}

.modal.is-active {
  display: flex;
}

.modal-background {
  background-color: rgba(10,10,10,.5);
  position: absolute;
}

.modal-background, .modal{
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.modal-container {
  max-height: 95%;
  z-index: 110;
  margin: 0 auto;
  position: relative;
  border-radius: 4px;
}

.modal-header {
  background-color: #FFF;
  color: #333;
  font-size: 21px;
  padding: 20px;
  font-weight: 700;
}

.modal-content {
  background-color: #FFF;
}

.modal-content {
  overflow: auto;
  position: relative;
  color: #333;
  padding: 20px;
}