.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logon-container section.form {
    width: 100%;
    max-width: 50%;
    margin-right: 30px;
    padding: 28px;
    background-color: white;
}

.logon-container section.form form h1 {
    margin-bottom: 32px;
    font-weight: bold;
}

.logon-container section.form form span {
    font-weight: 600;
}

.logon-container section.form form button {
    float: right;
}